<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>客服人員</title>
    <meta name="title" content="No title">
    <meta name="description" content="No description">
    <meta name="image" content="https://bootlanding.uploader-assets.win/assets/nophoto.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/v4-shims.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.bootstrapsite.com/includes/css/text.css">
    <link rel="stylesheet" href="https://www.bootstrapsite.com/includes/classes/.obj.css">

    <style></style>
    <style></style>


</head>

<body>

    <div id="section-1">
        <div class="container my-3">
            <form action="" method="post" class="mb-5">
                <div class="mb-1"><input type="text" class="form-control form-control-sm" id="input-2" placeholder="姓名">
                </div>
                <div class="mb-1">
                    <select class="form-select form-select-sm" id="input-4" type="select">
                        <option class="text-muted" value="">縣市</option>
                    </select>
                </div>
                <div class="mb-1">
                    <select class="form-select form-select-sm" id="input-3" type="select">
                        <option class="text-muted" value="">鄉鎮市區</option>
                    </select>
                </div>
                <button class="btn btn-primary w-100" type="summit">搜尋</button>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>名稱</th>
                        <th>電話</th>
                        <th>地址</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>



</body>

</html>